@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body{
    min-height: 100vh;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(livre.jpg);
    font-family: 'Poppins', sans-serif;
     
}

header{
    background-color: beige;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
}

.linav{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
    text-decoration: none;
  }

  li a:hover:not(.active) {
    background-color: gold;
  }

  a{
    color: black;
    text-decoration: none;
}

h1, h2, p{
    text-align: center;
    color: white;
}

.h2inscription{
    text-align: center;
}

footer{
    background-color: beige;
    text-decoration: none;
    width: 100%;
    height: 12%; /* height of footer */
    bottom: 0%;
    background-color: #fbfcdd;
    display: flex;
    justify-content: space-evenly;
}

.footer li{
 
    justify-content: space-evenly;
    text-decoration: none;
}


form{
    text-align: center;

}

input[type=submit]{
    color: black;
    cursor: pointer;
    border-radius: 5%;
    background-color:beige;
}

input{
    height: 20px;
    width: 200px;
}

textarea{
    height: 350px;
    width: 350px;
}

.commentor{
    color: white;
    display: flex;
    justify-content: center;    
    line-height: 3em;
    font-weight: bolder;
}

